<div id="outterwrap">
	<div id="innerwrap">
		<div id="content">
			<div id="header">
				<div id="nav">
					<%=link_to "home", "/" %>
					<%=link_to "about", "static/about" %>
				</div>	
			</div>
			<div id="body">
				<div id="content">
					<p>Find me in app/views/static/home.html.erb</p>	
				</div>
			</div>	
	</div>
</div>	


